body {
	background: rgb(63,94,251);
background: linear-gradient(240deg, rgba(111,29,8,1) 19%, rgba(103,111,8,1) 35%, rgba(8,111,94,1) 42%, rgba(111,106,8,1) 51%, rgba(110,110,115,1) 58%, rgba(119,119,240,1) 67%, rgba(140,240,119,1) 78%, rgba(240,119,211,1) 89%);
font-size: 100px;
font-display: center;
color: white;
min-height: 100hph;
  }
  h1{
  	color: white;
  	padding: 30px;background: linear-gradient(0deg, rgba(8,8,111,1) 29%, rgba(119,119,240,1) 44%, rgba(67,67,152,1) 62%, rgba(165,105,167,1) 72%, rgba(166,165,191,1) 89%);
  }
  div{
  	padding: 100px;
  	background: radial-gradient(circle, rgba(8,8,111,1) 34%, rgba(35,35,57,1) 54%, rgba(166,165,191,1) 81%);
  }
 h2{
 	color: white;
  	padding: 30px;
  	background: linear-gradient(90deg, rgba(8,8,111,1) 46%, rgba(119,119,240,1) 48%);
 }
h3{
	color: white;
	padding: 30px;

}