/*
*
*Title: Duabi;
*Author: Redian Bilali;
*Date: 10.03.2022;
*
*
*
*/
/********************** General Sty**********************/
img{
border-radius: 51%;
}
/*Navigation*/
nav{
background-color: gray;
display: flex;
justify-content: space-between; /* To make space between logo and links */
align-content: center;
padding: 30px;
}
nav img{
height: 250px; /* To reduce the size of the logo image */
border-radius: 50%;
}
nav ul{   
display: flex;
justify-content: flex-end;
align-items: center;
list-style-type: none; /* To remove the bullet points of our list*/
}
nav ul li a{
margin: 20px;
padding: 20px;
background-color: black;
text-decoration: none;
color: white;
border-radius: 20px;
}
nav ul li a:hover {
background-color: brown;
color: orange;
}
body{
margin: 0px;
}

header{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(img2.jpg);
	background-size: cover;
	background-position: center;
	height: 600px;
}
header h1{
	font-size: 30px;
	padding: 20px;
	color: white ;
	background-color: rgba(255, 255, 255, 0.7);
}

section{
font-size: 29px;
background-color: gray;
color: white ;
margin: 20px;
padding: 20px;

}


footer{
	height: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: rgb(240,119,211);
background: linear-gradient(301deg, rgba(240,119,211,1) 0%, rgba(232,224,220,1) 0%, rgba(8,6,5,1) 57%);
}

footer p{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-radius: 30px;
}