/*
*
*Title: Duabi;
*Author: Redian Bilali;
*Date: 10.03.2022;
*
*
*
*/
/********************** General Sty**********************/

/*Navigation*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Palette+Mosaic&family=Shizuru&family=Smooch+Sans:wght@200&display=swap');
nav{
background-color: gray;
display: flex;
justify-content: space-between; /* To make space between logo and links */
align-content: center;
padding: 30px;
font-family: Inconsolata;
}
nav img{
height: 250px; /* To reduce the size of the logo image */
border-radius: 50%;
}
nav ul{   
display: flex;
justify-content: flex-end;
align-items: center;
list-style-type: none; /* To remove the bullet points of our list*/
}
nav ul li a{
margin: 20px;
padding: 20px;
background-color: black;
text-decoration: none;
color: white;
border-radius: 20px;
}
nav ul li a:hover {
background-color: brown;
color: orange;
}
body{
margin: 0px;
}

header{
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-size: cover;
	background-position: center;
	height: 600px;
}
header h1{
	font-size: 30px;
	padding: 20px;
	color: white ;
	background-color: rgba(255, 255, 255, 0.7);
}

section{
font-size: 29px;
background-color: gray;
color: white ;
margin: 20px;
padding: 20px;

}

section h2{
	font-size: 25px;
	color: gray ;
	background-color: white;

}

#cities{
	display: flex;
	justify-content:space-between;
	align-items: stretch;



}

section .left{
	width: 60%;
	background-color: white;
	text-align: center;
	border: 6px double black;
}

section .right{
	width: 40%;
	background-color: gray;
	border: 6px double;
}

footer{
	height: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: rgb(240,119,211);
background: linear-gradient(301deg, rgba(240,119,211,1) 0%, rgba(232,224,220,1) 0%, rgba(8,6,5,1) 57%);
}

footer p{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-radius: 30px;
}


/***************************Page Styling***************************************


/*home*/

#home header {
	background-image: url(img2.jpg);
}

#contact header{
	background-image: url(img3.jpg);
}

#home main{
	background-color: lightgray;
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

#home main img{
	width: 249px;
	border: 6px double black;
}