/* Design fuer das Handy*/
footer{
	background: rgb(2,0,36);
 	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(11,94,111,1) 100%);
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	margin: 0px;
	padding: 40px;
	color: white;
	text-decoration: none;
	text-align: center;

}

a:hover{
	background: white;
}



@media(min-width: 768px){

footer{
	background: rgb(2,0,36);
 	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(11,94,111,1) 100%);
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	margin: 0px;
	padding: 40px;
	text-decoration: none;
	
}

footer div{
	padding: 20px;
}




	.r2, .r1{
			width: 25%;
	
			padding: 25px;
			text-align: left;

		}

	footer h2{
		color: white;
		padding: 5px;
	}

	.r3{
			width: 50%;
			text-align: left;
			padding: 25px;
		}

p, a{
	color: white;
	text-decoration: none;
}

}