<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Template</title>
</head>
<body>

	<nav>
		<img src="logo.png">
		<ul>
			<li><a href="">Projects</a></li>
			<li><a href="">About</li></a>
			<li><a href="">Contact</a></li>
		</ul>
	</nav>

	<main>
	<div style="background-image: url(img1.jpg);"><p>Renovated House</p></div>

	<div style="background-image: url(img2.jpg);"><p>Brick House</p></div>

	<div style="background-image: url(img3.jpg);"><p>Summer House</p></div>

	<div style="background-image: url(img4.jpg);"><p>Barn House</p></div>


	<div style="background-image: url(img1.jpg);"><p>Barn House</p></div>

	<div style="background-image: url(img2.jpg);"><p>Summer House</p></div>


	<div style="background-image: url(img3.jpg);"><p>Brick House</p></div>

	<div style="background-image: url(img4.jpg);"><p>Renovated House</p></div>



		</main>

	<h1>About</h1>

	<h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id massa non nisi aliquam finibus sit amet nec tellus. Suspendisse tortor elit, pulvinar a dui at, efficitur maximus eros. In pharetra arcu at volutpat interdum. Maecenas ut feugiat mauris. Cras id fringilla nisi. Aliquam erat volutpat. Praesent in laoreet nisi, ut consectetur nulla. Nulla eu congue massa. Maecenas eu nulla bibendum, convallis elit in, auctor nunc. Sed sit amet erat erat. Duis non nunc porta, sagittis mi a, accumsan magna. Sed dapibus condimentum ultrices. Cras vel bibendum diam, ac blandit lorem. Fusce congue ligula nibh, ut tempus mauris facilisis ut. Mauris commodo elit vel libero semper vehicula.

Donec convallis dui mauris, in consectetur turpis bibendum eu. Nunc congue lectus a molestie vestibulum. Etiam convallis, tortor porta vulputate lacinia, purus ligula dapibus metus, at placerat lectus velit sed eros. Maecenas placerat felis at faucibus rhoncus. Etiam pretium dolor ut quam dapibus placerat eu sit amet arcu. Integer pulvinar dignissim consectetur. Vestibulum consequat nibh quis ullamcorper sodales. Sed iaculis ornare condimentum. Nam quis viverra lacus. Nam mattis in orci sit amet scelerisque. Donec viverra ante non nunc viverra, in tempor mauris hendrerit.
	</h2>

	
</body>
</html>