*{
	box-sizing: border-box;
	margin: 0;
	padding:0 ;
	word-wrap: break-word;
}

header, nav, article, aside {
	width: 100%;
}

header{
			background-color: lightgray;
			padding: 25px;
		}

nav{
	background-color: purple;
	padding: 25px;


}

article{
	background-color:darkgoldenrod ;
	
	padding: 25px;
	
}

aside{
	background-color: firebrick;
	padding: 25px;
	
}
@media (min-width: 600px){
	
	li{
		display: inline;
	}

	article{
	 width: 60%;
	 float: left;

	
}

aside{
	width: 40%;
	float: left;

}

@media (min-width: 768px) {  

	li{
		display: block;
	}
		

nav, aside{
	
	width: 25%;
	float: left;
}

article{
	
	width: 50%;	
	float: left;
}

#container {

	width: 70%;
	margin: auto;
}

}
